<div class="container_small-card">
    <div class="container_small-card-content">
        <div class="small-card_photo">
            <img alt=""height="200px" src="https://assets-global.website-files.com/60ff690cd7b0537edb99a29a/62e45ef3988c4fd2a56974a7_as%20melhores%20se%CC%81ries%20policiais%20para%20assistir.jpg">
        </div>
        <div class="small-card_title">
            <h3><a href="#">Titulo</a></h3>
        </div>
    </div>
    <div class="divisor_small-card">
        <hr/>
    </div>
</div>

