.container_small-card{
    width: 700px;
    margin-bottom: 10px;
}
.container_small-card-content{
    display: flex;
    flex-direction: row;
}

.small-card_photo > img{
    width: 200px;
    min-width: 200px;
    margin-right: 20px;
    height: auto;

}

.small-card_title{
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 15px;
}