.container__articles{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-sizing: content-box;
    
}

.articles__main{
    width: auto;
}
.articles__others{
    width: auto;
}

