
.container_menu-bar ul{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}
.container_menu-bar ul li{
    margin-right: 20px;
    list-style: none;
}
.container_menu-bar ul li a:hover{
    color: rgb(192, 192, 192);
}